useDynLib(gesso)
import(Rcpp)
import(RcppEigen)
import(dplyr)
importFrom(Rcpp, evalCpp)
importFrom(foreach, "%dopar%")
importFrom(foreach, foreach)
exportPattern("^[[:alpha:]]+")
export(gesso.fit)
export(gesso.cv)
export(gesso.predict)
export(gesso.coef)
export(gesso.coefnum)
export(data.gen)
export(selection.metrics)