useDynLib(hierNetGxE)
import(Rcpp)
import(RcppEigen)
import(dplyr)
importFrom(Rcpp, evalCpp)
importFrom(foreach, "%dopar%")
importFrom(foreach, foreach)
exportPattern("^[[:alpha:]]+")
export(hierNetGxE.fit)
export(hierNetGxE.cv)
export(data.gen)