useDynLib(gesso, .registration = TRUE)
import(Rcpp)
import(RcppEigen)
import(dplyr)
importFrom(Rcpp, evalCpp) 
importFrom(methods, is)
importFrom(stats, rbinom, rnorm, var)
importFrom(bigmemory,is.big.matrix)
export(gesso.fit)
export(gesso.cv)
export(gesso.predict)
export(gesso.coef)
export(gesso.coefnum)
export(data.gen)
export(selection.metrics)